.zodiac-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 10px;
  border: 2px solid rgb(247, 205, 167);
  border-radius: 25px;
  line-height: 5px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

img {
  width: 75px;
}

div {
  margin: 20px;
}
