.zodiac-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 160px;
  padding: 10px;
  border: 2px solid rgb(247, 205, 167);
  border-radius: 25px;
  line-height: 5px;
  text-shadow: 2px 2px 2px rgb(23, 22, 22);
}

.div {
  margin: 10px;
  background-color: rgba(5, 5, 5, 0.5);
  box-shadow: 5px 5px 5px rgb(23, 22, 22);
}

h1 {
  font-size: 35px;
  text-transform: capitalize;
}

h2 {
  font-size: 25px;
}

img {
  width: 75px;
  filter: drop-shadow(5px 5px 5px rgb(23, 22, 22));
}
