body {
  margin: 0;
  font-family: 'Aladin', cursive;
  color: rgb(247, 205, 167);
}

.background {
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
}
